.container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  vertical-align: top;
  max-width: 1280px;
  margin: 0 auto 50px;
  padding: 0 4%;
  font-family: Helvetica,sans-serif;
  font-size: 1em;
  text-align: center;
}

.thumbnail {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  border-left: 5px solid #fff;
  border-bottom: 5px solid #fff;
  width: 33.3333333%;
  height: auto;
  overflow: hidden;
  vertical-align: middle;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.description {
  font-size: 0.8rem;
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.title {
  font-size: 1rem;
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 768px) {
  .thumbnail {
    width: 49.25%;
  }
  img {
    width: 80%;
  }
}

img {
  max-width: 250px;
  height: auto;
}

.text-center {
  text-align: center;
}

.form-control, button {
  display: inline-block;
  width: auto;
  vertical-align: middle;
  position: relative;
  margin: 10px 0;
}
